<link cache-control="max-age=86400" as="style" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/fuentes.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/dist/css/bootstrap.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/style.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/formulario.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-courses.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-cxo-typinfo.css">