<link cache-control="max-age=86400" as="style" type="text/css" rel="preload" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/fuentes.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/dist/css/bootstrap.min.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" onload="this.onload=null;this.rel='stylesheet'" href="/assets/css/style.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/formulario.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-courses.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-cxo-typinfo.css">
<link cache-control="max-age=86400" as="style" type="text/css" rel="stylesheet" href="/assets/css/sections-popup-webinar.css">

<!-- Antiguo GTM

<script>

    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-W9HXNSN');

</script> -->