@charset "UTF-8";

/* PF Bague Sans Pro */ /*500 normal*/
@font-face {
    font-family: 'PF Bague Sans Pro Medium';
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-Medium.eot');
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Medium.woff2') format('woff2'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Medium.woff') format('woff'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Medium.ttf') format('truetype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Medium.svg#PFBagueSansPro-Medium') format('svg');
    /* font-weight: 500;
    font-style: normal; */
    font-display: swap;
}
/* PF Bague Sans Pro Black */ /*900 normal*/
@font-face {
    font-family: 'PF Bague Sans Pro Black';
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-Black.eot');
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Black.woff2') format('woff2'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Black.woff') format('woff'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Black.ttf') format('truetype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Black.svg#PFBagueSansPro-Black') format('svg');
    /* font-weight: 900;
    font-style: normal; */
    font-display: swap;
}
/* PF Bague Sans Pro */ /*normal normal*/
@font-face {
    font-family: 'PF Bague Sans Pro';
    src: url('../fonts/BagueSansEsic/PFBagueSansPro.eot');
    src: url('../fonts/BagueSansEsic/PFBagueSansPro.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro.woff2') format('woff2'),
        url('../fonts/BagueSansEsic/PFBagueSansPro.woff') format('woff'),
        url('../fonts/BagueSansEsic/PFBagueSansPro.ttf') format('truetype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro.svg#PFBagueSansPro') format('svg');
    /* font-weight: normal;
    font-style: normal; */
    font-display: swap;
}
/* PF Bague Sans Pro Bold */ /*bold normal*/
@font-face {
    font-family: 'PF Bague Sans Pro Bold';
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-Bold.eot');
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Bold.woff2') format('woff2'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Bold.woff') format('woff'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Bold.ttf') format('truetype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-Bold.svg#PFBagueSansPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
/* PF Bague Sans Pro HairlineItalic */ /*100 italic*/
@font-face {
    font-family: 'PF Bague Sans Pro HairlineItalic';
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-HairlineItalic.eot');
    src: url('../fonts/BagueSansEsic/PFBagueSansPro-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-HairlineItalic.woff2') format('woff2'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-HairlineItalic.woff') format('woff'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-HairlineItalic.ttf') format('truetype'),
        url('../fonts/BagueSansEsic/PFBagueSansPro-HairlineItalic.svg#PFBagueSansPro-HairlineItalic') format('svg');
    /* font-weight: 100;
    font-style: italic; */
    font-display: swap;
}
/* Uniform Cond 3 */ /*TITULOS H1,H2,H3,H4,H5,H6*/
@font-face {
    font-family: 'Uniform Condensed3';
    src: url('../fonts/UniformEsic/Uniform-Condensed3.eot');
    src: url('../fonts/UniformEsic/Uniform-Condensed3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniformEsic/Uniform-Condensed3.woff2') format('woff2'),
        url('../fonts/UniformEsic/Uniform-Condensed3.woff') format('woff'),
        url('../fonts/UniformEsic/Uniform-Condensed3.ttf') format('truetype'),
        url('../fonts/UniformEsic/Uniform-Condensed3.svg#Uniform-Condensed3') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Uniform ExtCond 2 */ /*NEGRITA*/
@font-face {
    font-family: 'Uniform ExtraCondensed2';
    src: url('../fonts/UniformEsic/Uniform-ExtraCondensed2.eot');
    src: url('../fonts/UniformEsic/Uniform-ExtraCondensed2.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed2.woff2') format('woff2'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed2.woff') format('woff'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed2.ttf') format('truetype'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed2.svg#Uniform-ExtraCondensed2') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* Uniform ExtCond 3 */ /*NEGRITA*/
@font-face {
    font-family: 'Uniform ExtraCondensed3';
    src: url('../fonts/UniformEsic/Uniform-ExtraCondensed3.eot');
    src: url('../fonts/UniformEsic/Uniform-ExtraCondensed3.eot?#iefix') format('embedded-opentype'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed3.woff2') format('woff2'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed3.woff') format('woff'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed3.ttf') format('truetype'),
        url('../fonts/UniformEsic/Uniform-ExtraCondensed3.svg#Uniform-ExtraCondensed3') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
/* FIN ESIC UNIFORM */