#popup-ga {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;
    align-items: center;
    justify-content: center;
    background-color: rgba(37, 37, 37, 0.6);
}

#popup-ga .row {
    position: relative;
    max-width: 40rem;
    width: calc(100% - 3rem);
    max-height: 90vh;
    padding: 40px 15px 40px;
    background-color: var(--white);
    overflow-y: auto;
}

#popup-ga h6,
#popup-ga h5,
#popup-ga h4,
#popup-ga p {
    margin: 0;
}

#popup-ga h4 {
    color: var(--rojo-chicago);
}

#popup-ga .content-payment-step>div:nth-child(2) {
    margin-top: 5px;
}

#popup-ga .content-payment-step>div:nth-child(2) div p:nth-child(even) {
    background-color: var(--griscla-chicago);
}

#popup-ga .cont-tit-payment-step {
    border-bottom: 2px solid var(--negro-chicago);
    margin: 20px 0 10px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

#popup-ga h5 {
    font-size: 0.9em;
    padding: 5px 10px;
    margin: 0;
    display: inline-block;
}

#popup-ga h4 {
    font-size: 1.3em;
}
#popup-ga p,
#popup-ga h6 {
    font-size: 14px;
}

#popup-ga h6 {
    color: var(--rojo-chicago);
}

#popup-ga .close-popup {
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
    color: var(--rojo-chicago);
    width: auto;
}

#popup-ga .close-popup i {
    font-size: 1.2em;
    transition: all 200ms;
}

#popup-ga .close-popup:hover i {
    transform: rotate(90deg) scale(1.2);
    transition: all 200ms;
}
#popup-ga .download-pdf{
    margin-top: 20px;
}
.button-download{
    border: 2px solid var(--negro-chicago);
    color: var(--negro-chicago);
    padding: 10px 15px;
    font-size: 0.85em;
    border-radius: 6px;
    font-weight: 600;
    transition: all 200ms;
}
.button-download:hover {
    color: var(--white);
    background-color: var(--negro-chicago);
    transition: all 200ms;
}
.button-download i{
    font-size: 1.1em;
}
.oculto {
    display: none;
    opacity: 0;
    animation: oculto 200ms;
}
.visible {
    opacity: 1;
    height: auto;
    animation: visible 1s;
    transition: all 200ms;
}
@media screen and (min-width:992px) {
    #popup-ga h4 {
        font-size: 1.75em;
    }
    #popup-ga h5 {
        font-size: 1.1em;
    }
    #popup-ga p,
    #popup-ga h6 {
        font-size: 15px;
    }
}